<link rel="stylesheet" href="choose_avatar.css">
<header>
  <h5 id="profile">Profile</h5>
  <h5 id="logo">Dala</h5>
</header>

<ul>
  Choose Avatar
  <li><img src="Adventurer1.png" alt="Adventurer 1"></li>
  <li><img src="Adventurer2.png" alt="Adventurer 2"></li>
  <li><img src="Scientist1.png" alt="Scientist 1"></li>
  <li><img src="Scientist2.png" alt="Scientist 2"></li>
  <li><img src="Poet1.png" alt="Poet 1"></li>
  <li><img src="Poet2.png" alt="Poet 2"></li>
</ul>
