<link rel="stylesheet" href="new.css">

<header>
  <div class="header-sign-in">
  <button type="button" name="button"><h5>Sign In</h5></button>
  </div>
</header>

<div class="welcome-homepage">
  <h1>Welcome to</h1>
  <h1>Dala</h1>
  <h1>Play, Level-Up, Learn</h1>
</div>

<div class="homepage-sign-up">
  <button type="button" name="button"><h2>Sign Up!</h2></button>
</div>
