<link rel="stylesheet" href="/user_profile.scss">
<%= link_to 'Back', root_path, class: 'btn btn-success'  %>


<div class="page-header">
    <%= image_tag("Adventurer2.png", class: "user-Dala") %>
  </div>

<div class="container">

<div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:40%; font-size: xx-large;" >
      MATH: 40% Complete
    </div>
  </div>
<p>

</p>
<div class="progress">
    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%; font-size: xx-large;">
      SCIENCE: 60% Complete
    </div>
  </div>
<p>

</p>
<div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; font-size: xx-large;">
    READING: 70% Complete
  </div>
</div>
<p>

</p>
</div>

<script>
</script>
