// Place all the styles related to the GameLevel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.games.show{
  background-image: url("level-1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}


#level1{
  position: relative;
  left: 125px;
  top: 85px;
}

#level2{
  position: relative;
  left: 125px;
  top: 85px;
}

#level3{
  position: relative;
  left: 125px;
  top: 105px;
}

#level4{
  position: relative;
  left: 125px;
  top: 105px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#animateMonster{
  // padding-bottom: 135px;
  // height: 10px;
  // width: 10px;
  img {
    max-height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
    &:hover {
      transform: scale(1.2) rotate(2deg)
    }
  }
}
.container-question{
  text-align: center;
}
