.users.leaderboard {
  background-image: url("Dala-dashboard.jpg");
  background-position: center;
  background-attachment: fixed;
  font-family: "Passero One", cursive;
}

#leaderboard-title {
  text-align: center;
  padding-top: 5%;
}
